.root {
  border-radius: var(--mobile-low-border-radius);
  outline: 2px solid var(--black1);
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
  padding-inline: 1rem;
}

.contentWrapper {
  display: flex;
  padding: 1rem;
  column-gap: 1rem;
}

.data {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  width: 60%;
  border-left: 2px dashed var(--black1);
  border-right: 2px dashed var(--black1);
  padding-inline: 1rem;
}

.number {
  width: 20%;
  align-self: center;
}

.status {
  position: relative;
  align-self: center;
  width: 20%;
}

.buttonMore {
  align-self: center;
  padding: 5px;
  border-radius: var(--mobile-low-border-radius);
  outline: 2px solid var(--black1);
  transition: border-radius 0.3s, background-color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  &:hover {
    opacity: 0.6;
    border-radius: 10px;
  }
}

.deleteButton {
  align-self: flex-end;
  padding: 5px;
  border-radius: var(--mobile-low-border-radius);
  outline: 2px solid var(--black1);
  transition: border-radius 0.3s, background-color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  &:hover {
    opacity: 0.6;
    border-radius: 10px;
  }
}

.active {
  background-color: tomato;
}

.linkAti {
  align-self: flex-start;
  color: inherit;
  transition: transform 0.3s ease-in-out, color 0.6s ease-in-out;

  &:hover {
    transform: translate(1px, -1px);
    color: tomato;
  }
}
