.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.root {
  @include content;
  padding-block: var(--mobile-big-padding-block);
}

.tableWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
