.root {
  @include content;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: var(--tablet-padding-block);
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
